
@model StudioBookingApp.Models.Reservation
@{
    ViewBag.Title = "Index";
}
<meta name="keywords" content="Studio, Rehearsal, Booking, Reservation, Legacy Studios, Make Reservation">
<meta name="description" content="Make a reservation using Legacy Studios">
<meta name="author" content="Keith O'Brien, Patrick O'Brien, Sorin Dumitrascu">
@if (Session["name"] != null)
{<div>
        @using (Html.BeginForm("Index", "Booking", FormMethod.Post))
        {
            <p>
                @Html.ValidationSummary(false, "", new { @class = "error" })
            </p>
            <p>
                <span class="newline">@Html.LabelFor(u => u.DateCheck)</span>
                @Html.TextBoxFor(u => u.DateCheck)
            </p>
            <p>
                <input type="submit" value="Check Date" />
            </p>
        }
        @using (Html.BeginForm("BookBook", "Booking", FormMethod.Post))
        {

            <p>
                @Html.ValidationSummary(false, "", new { @class = "error" })
            </p>
            if (Session["status"] != null)
            {
                <p>
                    <span class="newline">@Html.LabelFor(u => u.BookTime)</span>
                    @Html.DropDownListFor(u => u.BookTime, new SelectList(Model.Available, new { @class = "form-control" }))
                </p>
                <p>
                    <span class="newline">@Html.LabelFor(u => u.Date)</span>
                    @Html.TextBoxFor(u => u.Date)
                </p>
                @*<p>
                        <span class="newline">@Html.LabelFor(u => u.Date)</span>
                        @Html.EditorFor(u => u.Date)
                    </p>*@
            }
            <p>
                <input type="submit" value="Book" />
            </p>
        }

    </div>
}
else
{
    <p>Sorry! You must make an account and login to make a booking!</p>
    @Html.ActionLink("Register", "Index", "User", null, new { @class = "register" }) <br />
    @Html.ActionLink("Login", "Login", "User", null, new { @class = "register" })
}


