@model StudioBookingApp.Models.User
@{
    ViewBag.Title = "Login";
}
<meta name="keywords" content="Studio, Rehearsal, Booking, Reservation, Legacy Studios, Log in">
<meta name="description" content="Log in to Legacy Studios">
<meta name="author" content="Keith O'Brien, Patrick O'Brien, Sorin Dumitrascu">
<h2>Login</h2>

<div>
    @*@using (Html.BeginForm("Login", "User", FormMethod.Post))*@
    @using (Ajax.BeginForm("Login", "User", new AjaxOptions { UpdateTargetId = "result" }))
    {
        <p>
            @Html.ValidationSummary(false, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">@Html.LabelFor(u => u.Email)</span>
            @Html.TextBoxFor(u => u.Email)
        </p>
        <p>
            <span class="newline">@Html.LabelFor(u => u.Password)</span>
            @Html.PasswordFor(u => u.Password)
        </p>
        <p>
            <span class="newline">@Html.LabelFor(u => u.Type)</span>
            @Html.EnumDropDownListFor(u => u.Type, new { style = "width:160px" })
        </p>
        <p>
            <input type="submit" value="Login" />
        </p>
    }
</div>