@model StudioBookingApp.Models.User
@{
    ViewBag.Title = "Register";
}
<meta name="keywords" content="Studio, Rehearsal, Booking, Reservation, Legacy Studios, Create Account">
<meta name="description" content="Create an account with Legacy Studios">
<meta name="author" content="Keith O'Brien, Patrick O'Brien, Sorin Dumitrascu">
<h2>Register</h2>
<div>
    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        <p>
            @Html.ValidationSummary(false, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.FirstName)</span>
            @Html.TextBoxFor(u => u.FirstName)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.LastName)</span>
            @Html.TextBoxFor(u => u.LastName)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.AddressLine1)</span>
            @Html.TextBoxFor(u => u.AddressLine1)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.AddressLine2)</span>
            @Html.TextBoxFor(u => u.AddressLine2)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.County)</span>
            @Html.TextBoxFor(u => u.County)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.Eircode)</span>
            @Html.TextBoxFor(u => u.Eircode)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.Phone)</span>
            @Html.TextBoxFor(u => u.Phone)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.Email)</span>
            @Html.TextBoxFor(u => u.Email)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.Password)</span>
            @Html.PasswordFor(u => u.Password)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.ConfirmPassword)</span>
            @Html.PasswordFor(u => u.ConfirmPassword)
        </p>
        <p>
            <span class="newline">@Html.LabelFor(u => u.Type)</span>
            @Html.EnumDropDownListFor(u => u.Type, new { style = "width:160px" })
        </p>
        <p>
            <input type="submit" value="Register" />
        </p>

    }
</div>
