@model IEnumerable<SampleTemplate.Models.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Books in Stock</h2>
<div>
    @foreach(var book in Model)
    {
        <section style="width:600px;">
            <img alt="@book.BookImage" src="~/Content/Images/@book.BookImage" width="200" height="200" class="right" />
                
                    <p>
                <h3>@book.Title</h3>
                <span class="newline">by @book.Author</span>
                <span class="newline">ISBN: @book.ISBN</span>
                <span class="newline">Publication Date: @book.PublicationDate</span>
                <span class="newline">€@book.Price</span>
            </p>
            <br class="clear" />
        </section>
        <hr />
    }
    </div>
